/* Place CSS styles here */
body{
    color: #D4C5C7;
    background-color:#818D92;
    font-size: 30px;
    background-image: url(../img/7627759-grassy-field-conceptual-image-grassy-field-in-summer.jpg);
}
